<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thomas Noel</title>
    <meta name="description" content="I'm a Machine Learning Engineer living in Oregon. I currently work at Nova Dynamics with a world-class team to develop the next generation of urban service robots.">
    <meta property="og:title" content="Thomas Noel">
    <meta property="og:description" content="{{META_DESC}}">
    <!--meta property="og:image" content="{{IMAGE_URL}}"-->
    <!--meta property="og:url" content="{{POST_URL}}"-->
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Thomas Noel's Blog">

    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id='master-container'>
        <div id ='page-container'>
            <div id='logo-header-container'>
                <div id='logo'>
                    <img src="/favicon.ico" alt="Site Logo of a Fish"/>
                </div>
                <div id='header'>
                    <h1>Thomas Noel</h1>
                </div>
            </div>
            <div id='nav-content-footer-container'>
                <div id='nav'>
                    <ul>
                        <li>About</li>
                        <li>Writing</li>
                        <li>Misc</li>
                    </ul>
                </div>
                <div id='content-footer-container'>
                    <div id='content'>
                        I'm a Machine Learning Engineer living in Oregon. 
                        I currently work at Nova Dynamics with a world-class 
                        team developing the next generation of urban service 
                        robots.
                    </div>
                    <div id='footer'>footer</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
