#master-container {
    display: grid;
    width: 100vw;
    min-height: 100vh;
}

#page-container {
    display: grid;
    grid-template-rows: 12.5% auto;
    outline: 3px solid red;
    margin: 100px;
}

#logo-header-container {
    display: grid;
    grid-template-columns: 20% auto;
    outline: 3px solid green;
}

#nav-content-footer-container {
    display: grid;
    grid-template-columns: 20% auto;
    outline: 3px solid green;
    height: stretch;
}

#content-footer-container {
    display: grid;
    grid-template-rows: 95% auto;
    outline: 3px solid yellow;
}

/* Progress!! TODO: Tune this to not use px units. */
@media (min-width: 1250px) {
    #page-container {
        /* margin: 100px max(calc(100% - 1150px), 100px); */
        width: 1050px;
        justify-self: center;
    }
}

